<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="RoutingServer.RoutingServer">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/RoutingServer" binding="webHttpBinding" contract="RoutingServer.IRoutingServer"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>