<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProxyService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="524288">
					<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="ProxyCache.ProxyService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService" contract="ProxyCache.IProxyService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/ProxyCache/ProxyService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
