<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="itinerary-suggestion.js" defer></script>
  <script src="../itinerary-details/itinerary-details.js" defer></script>
  <title>itinerary-suggestion-component</title>
</head>

<body>
  <itinerary-suggestion icons="cycling.png ,front-of-bus.png, walker.png" text="Via le Chemin de St Claude"
    distance="9.7 Km" time="1h 30m">
  </itinerary-suggestion>
  <itinerary-suggestion icons="cycling.png" text="deee" distance="zzdkm"></itinerary-suggestion>
</body>

</html>